@page "/"

<PageTitle>River Matsumoto</PageTitle>

<section class="home">
  <h1>River Matsumoto</h1>
  <p>Software Engineer</p>

  <p>
    <a href="https://github.com/RiverMatsumoto" target="_blank">GitHub</a>
    |
    <a href="/my-projects">Projects</a>
  </p>
</section>
